{{ define "footer" }}
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <i class="fab fa-github fa-2xl" onclick="window.open('https://github.com/kanztu')"></i>
        </section>
        <section class="mb-4">
            <i class="fab fa-telegram fa-2xl" onclick="window.open('https://t.me/dannysuen11')"></i>
        </section>
        <section class="mb-4">
            <i class="fab fa-linkedin fa-2xl" onclick="window.open('https://www.linkedin.com/in/chung-yin-suen-341569209/')"></i>
        </section>
        <section class="mb-4">
            <i class="fab fa-google fa-2xl" onclick="window.open('email://dannysuendevelop@gmail.com')"></i>
        </section>
    </div>
</footer>

{{ end }}