{{ define "sidebar" }}
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
    </div>
    <div class="img bg-wrap text-center py-4"
        style="background-image: url(https://images3.alphacoders.com/953/thumb-1920-95305.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(images/logo.jpg);"></div>
            <h3>{{ .site_author }}</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        {{ range .cata }}
        <li>
            <a href={{ .CataPath }}><span class="fa fa-tags mr-3"></span> {{ .CataName }}</a>
        </li>
        {{ end }}
    </ul>
    <ul class="p-4 list-unstyled mb-5">
        <a>Copyright © All code built by kanztu</a>
        <br>
        <a href="https://github.com/kanztu/goblog"><i class="fas fa-code"></i></a>
    </ul>

</nav>
{{ end }}