:root {
    --blue: #007bff;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  hr {
    border-bottom: 3px solid black;
    margin-top: 50px;
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
  }
  
  figure {
    margin: 0 0 1rem;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .limit_img {
    max-height: 150px;
    max-width: 150px;
  }
  
  button {
    border-radius: 0;
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    line-height: inherit;
  }
  
  .d-table-cell {
    display: table-cell !important;
  }
  
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .pt-5,
  .py-5 {
    padding-top: 3rem !important;
  }
  
  .text-truncate {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  
  .text-decoration-none {
    text-decoration: none !important;
  }
  
  .text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
  }
  
  .text-reset {
    color: inherit !important;
  }
  
  .visible {
    visibility: visible !important;
  }
  
  .invisible {
    visibility: hidden !important;
  }
  
  
  
  
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fff;
    color: gray;
  }
  
  #sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
  }
  
  #sidebar .h6 {
    color: #fff;
  }
  
  #sidebar.active {
    margin-left: -300px;
  }
  
  #sidebar.active .custom-menu {
    margin-right: -50px;
  }
  
  #sidebar.active .btn.btn-primary:before {
    content: "\f053";
    font-family: "FontAwesome";
    right: 2px !important;
  }
  
  #sidebar.active .btn.btn-primary:after {
    display: none;
  }
  
  #sidebar ul.components {
    padding: 0;
  }
  
  #sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -300px;
    }
  
    #sidebar.active {
      margin-left: 0;
    }
  
    #sidebar .custom-menu {
      margin-right: -60px !important;
      top: 10px !important;
    }
  }
  
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -35px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  
  #sidebar .custom-menu .btn.btn-primary {
    background: #2f89fc;
    border-color: transparent;
    position: relative;
    color: #000;
    width: 30px;
    height: 30px;
  }
  
  #sidebar .custom-menu .btn.btn-primary:after,
  #sidebar .custom-menu .btn.btn-primary:before {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "FontAwesome";
    color: #fff;
  }
  
  #sidebar .custom-menu .btn.btn-primary:after {
    content: "\f054";
    left: 2px;
  }
  
  .bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
  }
  
  .bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
  }
  
  .bg-wrap .user-logo .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .bg-wrap .user-logo h3 {
    color: #fff;
    font-size: 18px;
  }
  
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .special-card {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
  }